name: Build LaTeX document
on: [pull_request_target, push]
jobs:
  check_file_changes:
    name: Preveri spremembe datotek
    runs-on: ubuntu-latest
    outputs:
      updated_tex_file: ${{ steps.changes.outputs.tex_file }}
    steps:
    
      - name: Set up Git repository
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.COMPILING_TOKEN }}
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
          
      - name: Create filter
        uses: dorny/paths-filter@v2
        id: changes
        with:
          ref: ${{ github.event.pull_request.base.ref }}
          filters: |
            tex_file:
              - '**.tex'
    
  compile_pdf:
    name: Compile document
    needs: check_file_changes
    
    runs-on: ubuntu-latest
    steps:
    
      - name: Set up Git repository
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.COMPILING_TOKEN }}
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
          
      - name: Check if compiling is needed
        uses: dorny/paths-filter@v2
        id: filter
        with:
          working-directory: ${{ matrix.tex_file.path }}
          filters: |
            tex_file:
              - '${{ matrix.tex_file.path }}/**/*.tex'
            pdf_file:
              - '${{ matrix.tex_file.path }}/**/*.pdf'
              
      - name: Prvi pdflatex
        uses: xu-cheng/latex-action@v2
        with:
          root_file: |
            1. letnik/Algebra 1/Algebra 1.tex
            1. letnik/Analiza 1/Analiza 1.tex
            1. letnik/Logika in množice/Logika in množice.tex
            2. letnik/Algebra 2/Algebra 2.tex
            2. letnik/Analiza 2a/Analiza 2.tex
            2. letnik/Splošna topologija/Splošna topologija.tex
          work_in_root_file_dir: true
          compiler: pdflatex
          args: -interaction=nonstopmode
          
      - name: Bibliografija
        uses: xu-cheng/latex-action@v2
        with:
          root_file: |
            1. letnik/Algebra 1/Algebra 1.bcf
            1. letnik/Analiza 1/Analiza 1.bcf
            1. letnik/Logika in množice/Logika in množice.bcf
            2. letnik/Algebra 2/Algebra 2.bcf
            2. letnik/Analiza 2a/Analiza 2.bcf
            2. letnik/Splošna topologija/Splošna topologija.bcf
          work_in_root_file_dir: true
          compiler: biber
          args: ''

      - name: Stvarno kazalo
        uses: xu-cheng/latex-action@v2
        with:
          pre_compile: | 
            ln -sf /opt/texlive/texdir/texmf-dist/scripts/xindy/xindy.pl /opt/texlive/texdir/bin/x86_64-linuxmusl/xindy
            ln -sf /opt/texlive/texdir/texmf-dist/scripts/xindy/texindy.pl /opt/texlive/texdir/bin/x86_64-linuxmusl/texindy
            wget https://sourceforge.net/projects/xindy/files/xindy-source-components/2.4/xindy-kernel-3.0.tar.gz
            tar xf xindy-kernel-3.0.tar.gz
            cd xindy-kernel-3.0/src
            apk add make
            apk add clisp --repository=http://dl-cdn.alpinelinux.org/alpine/edge/community
            make
            cp -f xindy.mem /opt/texlive/texdir/bin/x86_64-linuxmusl/
            cd ../../
          root_file: |
            1. letnik/Algebra 1/Algebra 1.idx
            1. letnik/Analiza 1/Analiza 1.idx
            1. letnik/Logika in množice/Logika in množice.idx
            2. letnik/Algebra 2/Algebra 2.idx
            2. letnik/Analiza 2a/Analiza 2.idx
            2. letnik/Splošna topologija/Splošna topologija.idx
          work_in_root_file_dir: true
          compiler: texindy
          args: '-L slovenian -C utf8'
          
      - name: Drugi pdflatex
        uses: xu-cheng/latex-action@v2
        with:
          root_file: |
            1. letnik/Algebra 1/Algebra 1.tex
            1. letnik/Analiza 1/Analiza 1.tex
            1. letnik/Logika in množice/Logika in množice.tex
            2. letnik/Algebra 2/Algebra 2.tex
            2. letnik/Analiza 2a/Analiza 2.tex
            2. letnik/Splošna topologija/Splošna topologija.tex
          work_in_root_file_dir: true
          compiler: pdflatex
          args: -interaction=nonstopmode
          
      - name: Tretji pdflatex
        uses: xu-cheng/latex-action@v2
        with:
          root_file: |
            1. letnik/Algebra 1/Algebra 1.tex
            1. letnik/Analiza 1/Analiza 1.tex
            1. letnik/Logika in množice/Logika in množice.tex
            2. letnik/Algebra 2/Algebra 2.tex
            2. letnik/Analiza 2a/Analiza 2.tex
            2. letnik/Splošna topologija/Splošna topologija.tex
          work_in_root_file_dir: true
          compiler: pdflatex
          args: -interaction=nonstopmode+
          
      - name: Shrani pdf datoteke
        uses: actions/upload-artifact@v2
        with:
          name: pdf-files
          path: |
            1. letnik/Algebra 1/Algebra 1.pdf
            1. letnik/Analiza 1/Analiza 1.pdf
            1. letnik/Logika in množice/Logika in množice.pdf
            2. letnik/Algebra 2/Algebra 2.pdf
            2. letnik/Analiza 2a/Analiza 2.pdf
            2. letnik/Splošna topologija/Splošna topologija.pdf
          
  push_pdfs:
    runs-on: ubuntu-latest
    needs: compile_pdf
  
    strategy:
      matrix:
        tex_file: [
          {path: '1. letnik/Algebra 1', file: 'Algebra 1'},
          {path: '1. letnik/Analiza 1', file: 'Analiza 1'},
          {path: '1. letnik/Logika in množice', file: 'Logika in množice'},
          {path: '2. letnik/Algebra 2', file: 'Algebra 2'},
          {path: '2. letnik/Analiza 2a', file: 'Analiza 2'},
          {path: '2. letnik/Splošna topologija', file: 'Splošna topologija'}
        ]
        
    steps:
    
      - name: Set up Git repository
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.COMPILING_TOKEN }}
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
          
      - name: Check if pdf required
        uses: dorny/paths-filter@v2
        id: filter
        with:
          working-directory: ${{ matrix.tex_file.path }}
          filters: |
            tex_file:
              - '${{ matrix.tex_file.path }}/**/*.tex'
            pdf_file:
              - '${{ matrix.tex_file.path }}/**/*.pdf'
              
      - name: Download pdf
        if: steps.filter.outputs.tex_file == 'true' && steps.filter.outputs.pdf_file == 'false'
        uses: actions/download-artifact@v2
        with:
          name: pdf-files

      - name: Push pdf file
        if: steps.filter.outputs.tex_file == 'true' && steps.filter.outputs.pdf_file == 'false'
        working-directory: ${{ matrix.tex_file.path }}
        run: |
            git config --global user.name "Luka Horjak"
            git config --global user.email "luka1.horjak@gmail.com"
            git add '${{ matrix.tex_file.file }}.pdf'
            git commit -m "Dodan pdf - ${{ matrix.tex_file.file }}"
            git push origin ${{ github.event.pull_request.head.ref }}
  
  finish_job:
    name: Finish
    runs-on: ubuntu-latest
    needs: push_pdfs
    if: always()
    steps:
    
      - name: Fail if compilation failed
        if: ${{ needs.compile_pdf.result == 'failure' }}
        run: exit 1
            
      - name: Finish
        run: echo "Action complete"
